.well
  %h2
    %a{"data-bind" => "post.title", "data-route" => "routes.posts[post]"}
  %p{"data-bind" => "post.content"}
  %p.details-link
    %a.btn{"data-route" => "routes.posts[post]"} View details »