.page-header
  %h1{"data-bind" => "post.title"}
.hero-unit
  %p{"data-bind" => "post.content"}
.well
  %a.btn.btn-primary{"data-route" => 'routes.posts[post].edit'}Edit
  %a.btn{'data-route' => 'routes.posts'}Back
  %a.btn.destroy.btn-danger{"data-event-click" => 'destroy'} Destroy
  %a.btn.btn-primary{'data-route' => 'routes.posts[post].comments.new'} New Comment

%ul.pager
  %li.previous{"data-hideif" => "currentPosition | equals 1"}
    %a{"data-event-click" => 'previousPage'} &larr; Previous
  %li.previous.disabled{"data-showif" => "currentPosition | equals 1"}
    %a &larr; Previous
  %li
    %span.label{"data-bind" => '"Showing " | append currentPosition | append "-" | append endingPosition | append " out of " | append totalCount'}
  %li.next{"data-hideif" => "endingPosition | equals totalCount"}
    %a{"data-event-click" => 'nextPage' } Next &rarr;
  %li.next.disabled{"data-showif" => "endingPosition | equals totalCount"}
    %a Next &rarr;

.row
  #content.span12
    #comments
      %div{"data-foreach-comment" => "items"}
        .comment{"data-partial" => "comments/_comment"}