.page-header
  %h1{"data-bind" => "post.title"}
.hero-unit
  %p{"data-bind" => "post.content"}
.well
  %a.btn.btn-primary{"data-route" => 'routes.posts[post].edit'}Edit
  %a.btn{'data-route' => 'routes.posts'}Back
  %a.btn.destroy.btn-danger{"data-event-click" => 'destroy'} Destroy

%h2{"data-bind" => '"comment" | pluralize post.comments.length | prepend "Showing "'}
%a.btn.btn-primary{'data-route' => 'routes.posts[post].comments.new'} New Comment

#comments
  %div{"data-foreach-comment" => "post.comments"}
    .comment{"data-partial" => "comments/_comment"}