#show-post.row
  #content.span10
    %h1{"data-bind" => "post.title"}
    %div{"data-bind" => "post.content"}
    %h2{"data-bind" => '"comment" | pluralize post.comments.length | prepend "Showing "'}
    #comments
      %div{"data-foreach-comment" => "post.comments"}
        .comment{"data-partial" => "comments/_comment"}
    .meta
      %a.btn.btn-primary{"data-route" => 'post | routeToAction "edit"'} Edit
      %a.btn{'data-route' => 'routes.posts[post].comments.new'} New Comment
      %a.btn{'data-route' => 'routes.posts'} Back

