#edit-comment.row
  #content.span16
    %form#edit_comment.edit_comment{"accept-charset" => "UTF-8", "data-event-submit" => "update", "data-formfor-comment" => "comment"}
      %div{"data-partial" => "comments/_form"}