#new-comment.row
  #content.span16
    %form#new_comment.new_comment{"accept-charset" => "UTF-8", "data-event-submit" => "create", "data-formfor-comment" => "comment"}
      %div{"data-partial" => "comments/_form"}